# Quick Analysis of the Random implementations

In this notebook, I will be mimicing charts for direct comparison to those in the lemma analysis notebook.

# The data we scraped

In [1]:
import pandas as pd

raw = pd.read_csv('scraped_data/8-13-20.random.dev.predictions.csv')

trglang = [lang.split('+')[0] for lang in raw.language]
srclang = [lang.split('+')[-1] for lang in raw.language]
percent_added = [int(lang.split('+')[1].split('r')[0]) for lang in raw.language] 

raw['target'], raw['add_lang'], raw['%added'] = trglang, srclang, percent_added

raw.head()

,family,language,model,prediction,truth,lemma,tag,loss,distance,is_correct,target,add_lang,%added
0,custom,nno+25r+eng,transformer,foajeen,foajéen,foajé,N;DEF;SG\n,0.892666,1,0,nno,eng,25
1,custom,nno+25r+eng,transformer,nyzealandsk,nyzealandsk,nyzealandsk,ADJ;NEUT;SG\n,0.768892,0,1,nno,eng,25
2,custom,nno+25r+eng,transformer,søkjast,søkjast,søkje,V;NFIN;PASS\n,0.766975,0,1,nno,eng,25
3,custom,nno+25r+eng,transformer,trenarar,trenarar,trenar,N;NDEF;PL\n,0.765859,0,1,nno,eng,25
4,custom,nno+25r+eng,transformer,kometar,kometar,komet,N;NDEF;PL\n,0.828070,0,1,nno,eng,25

# The mean accuracy of GML \ NNO

In [6]:
raw.groupby(['target']).agg({'is_correct':'mean'}).reset_index()

  target  is_correct
0    gml    0.649483
1    nno    0.859674

# The mean accuracy by language added to GML \ NNO

In [7]:
raw.groupby(['target', 'add_lang']).agg({'is_correct':'mean'}).reset_index()

  target add_lang  is_correct
0    gml      deu    0.638287
1    gml      eng    0.656004
2    gml      isl    0.650098
3    gml      nno    0.653543
4    nno      deu    0.856641
5    nno      eng    0.853430
6    nno      isl    0.865081
7    nno      nno    0.867030

# The mean accuracy of GML \ NNO by percent of language added

In [11]:
raw.groupby(['target', '%added']).agg({'is_correct':'mean'})

               is_correct
target %added
gml    25        0.639764
       50        0.646654
       75        0.650591
       100       0.640748
       125       0.654528
       150       0.652559
       175       0.654528
       200       0.656496
nno    25        0.862353
       50        0.861920
       75        0.863974
       100       0.863652
       125       0.858281
       150       0.852506
       175       0.857126
       200       0.853892

# The number of models ran for GML \ NNO

In [2]:
raw.groupby(['language']).agg({'prediction':'count', 'target':'max'}).reset_index().groupby(['target']).agg({'language':'count'})

        language
target
gml           32
nno           28

# The exact accuracy of every model

In [10]:
raw.groupby(['language']).agg({'is_correct':'mean'}).reset_index()

        language  is_correct
0   gml+100r+deu    0.618110
1   gml+100r+eng    0.653543
2   gml+100r+isl    0.657480
3   gml+100r+nno    0.633858
4   gml+125r+deu    0.625984
5   gml+125r+eng    0.657480
6   gml+125r+isl    0.653543
7   gml+125r+nno    0.681102
8   gml+150r+deu    0.665354
9   gml+150r+eng    0.653543
10  gml+150r+isl    0.645669
11  gml+150r+nno    0.645669
12  gml+175r+deu    0.645669
13  gml+175r+eng    0.661417
14  gml+175r+isl    0.653543
15  gml+175r+nno    0.657480
16  gml+200r+deu    0.641732
17  gml+200r+eng    0.673228
18  gml+200r+isl    0.657480
19  gml+200r+nno    0.653543
20   gml+25r+deu    0.606299
21   gml+25r+eng    0.665354
22   gml+25r+isl    0.637795
23   gml+25r+nno    0.649606
24   gml+50r+deu    0.637795
25   gml+50r+eng    0.657480
26   gml+50r+isl    0.641732
27   gml+50r+nno    0.649606
28   gml+75r+deu    0.665354
29   gml+75r+eng    0.625984
30   gml+75r+isl    0.653543
31   gml+75r+nno    0.657480
32  nno+100r+deu    0.856895
33  nno+100r+eng    0.851351
34  nno+100r+isl    0.873527
35  nno+100r+nno    0.872834
36  nno+125r+deu    0.857588
37  nno+125r+eng    0.852737
38  nno+125r+isl    0.864518
39  nno+150r+deu    0.856895
40  nno+150r+eng    0.838184
41  nno+150r+isl    0.862439
42  nno+175r+deu    0.855163
43  nno+175r+eng    0.849272
44  nno+175r+isl    0.866944
45  nno+200r+deu    0.849272
46  nno+200r+eng    0.853777
47  nno+200r+isl    0.858628
48   nno+25r+deu    0.865904
49   nno+25r+eng    0.861746
50   nno+25r+isl    0.858974
51   nno+25r+nno    0.862786
52   nno+50r+deu    0.867290
53   nno+50r+eng    0.854123
54   nno+50r+isl    0.862439
55   nno+50r+nno    0.863825
56   nno+75r+deu    0.831601
57   nno+75r+eng    0.866251
58   nno+75r+isl    0.873181
59   nno+75r+nno    0.868676